{:deps {org.clojure/clojure {:mvn/version "1.10.0-beta1"}}

 :paths ["src" "resources"]

 :aliases
 {:server {:extra-deps {mount {:mvn/version "0.1.12"}
                        clj-time {:mvn/version "0.14.2"}
                        tick {:mvn/version "0.3.5"}
                        ring/ring-jetty-adapter {:mvn/version "1.6.3"}
                        cheshire {:mvn/version "5.8.0"}
                        garden {:mvn/version "1.3.3"}
                        com.taoensso/timbre {:mvn/version "4.10.0"}
                        hiccup {:mvn/version "1.0.5"}
                        org.clojure/tools.reader {:mvn/version "1.3.0"}
                        clj-http {:mvn/version "3.7.0"}
                        ring/ring-core {:mvn/version "1.6.3"}
                        org.clojure/core.async {:mvn/version "0.4.474"}
                        metosin/reitit {:mvn/version "0.2.0-SNAPSHOT"}}}

  :dev {:extra-paths ["dev"]}

  :uberjar
  {:extra-deps
   {pack/pack.alpha
    ;; {:local/root "/Users/will/Code/pack.alpha"}
    {:git/url "https://github.com/Lokeh/pack.alpha.git"
     :sha     "c444ae3af083b0bfa68160daac576607232f556c"}}
   :main-opts ["-m" "mach.pack.alpha.capsule" "dist/lilactown.jar"
               "-a" ":server" "-m" "lilactown.core"]}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}}
