;; shadow-cljs configuration
{:dependencies
 [[com.taoensso/timbre "4.10.0"]
  [binaryage/devtools "0.9.10"]]
 :source-paths ["src"]
 :builds {:client {:target :browser
                   :output-dir "resources/public/assets/js"
                   :asset-path "/assets/js"
                   :module-loader true
                   :modules {:main {:entries [lilactown.client.core]}
                             :title {:entries [lilactown.client.title]
                                     :depends-on #{:main}}}
                   :compiler-options {:infer-externs :auto}
                   }}}
