;; shadow-cljs configuration
{;; :lein {:profile "+client"}
 :builds {:client {:target :browser
                   :output-dir "resources/public/assets/js"
                   :asset-path "/assets/js"
                   :modules {:main {:entries [lilactown.client.core]}}
                   :compiler-options {:infer-externs :auto}
                   }}}
